<%- include ('./header.ejs') %>
  <link rel="stylesheet" href= "/css/room.css" type = "text/css" media = "screen">
  <link rel="stylesheet" href= "/css/chat.css" type = "text/css" media = "screen">
  <title>Document</title>
  <script type="application/javascript" src = "/js/chatSocket.js"></script>
  <script type="application/javascript">
    function handlerSubmitChat(evnet){
      event.preventDefault();
      const chat = event.target.chat.value;
      const roomId = '<%= room %>';
      $.ajax({
        url : `http://localhost:3000/room/${roomId}/chat`,
        method : 'POST',
        dataType : 'json',
        data : { chat }
      })
      .done((json) =>{
        if(json.ok === 'ok'){
          event.target.chat.value = '';
        }
      })
      .fail((xhr, status, errorToken) =>{
        console.log(xhr, status);
      }).always((xhr, status) => {});
      event.target.chat.value = '';
    }
    $(document).ready(function(){
      chatSocketInit();
      $('.chat-form').submit(handlerSubmitChat);
    });
  </script>
</head>
<body>
  <div class = "background"></div>
  <div class="system-bar js-system-bar">
    <h4 class = "system js-system"></h4>
    <small class= "system-message js-system-message"></small>
  </div>
  <div class = "wrapper">
    <div class = "userlist-box">
      <header><h4 class = "title"><%= title %></h4>
      <div class = "exit">EXIT</div>
      </header>

      <ul class = "users">
        <li><a class = "mine" href="#"><%= user %></a></li>
      </ul>
    </div>
    <div class = "userchat-box">
      <ul class = "chats js-chats">
        <!-- chatting box  -->
      </ul>
    </div>
    <div class = "userchat">
      <form class = "chat-form" method = "post" enctype = "multipart/form-data">
        <input type="text" name = "chat">
        <div class = "btn">
          <input type="submit" value = "SUBMIT">
        </div>
      </form>
    </div>
  </div>
</body>
<script type = "application/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</html>
